@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #557DA526;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #557DA526;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #557DA526;
  border-radius: 14px;
  border: 3px solid #557DA526;
}

@layer base {
  body {
    @apply h-[100vh] bg-[#EDF6FF];
  }
}

@layer components {
  .pageContainer {
    @apply h-[100vh] bg-[#EDF6FF];
  }

  .pageTopSection {
    @apply h-[30%] border border-black bg-[#303F60];
  }

  .inputContainer {
    @apply flex flex-col;
  }

  .inputField {
    @apply bg-[#E8E8E833] border border-[#C6C6C6] px-[17px] py-[15px] rounded-[5px] focus:outline-none focus:border-[#43AFFF];
  }

  .errorInput {
    @apply border-[#FF0000];
  }
}